body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
  text-align: center;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.boom {
  color: gold;
  font-size: 40px;
}

#fireworks {
  position: fixed;
  top: 0;
  left: 0;
